body {
    margin: 0;
    height: 100vh;
    flex-direction: column;
    display: flex;
}

.header {
    background: radial-gradient(circle, rgba(46,46,46,1) 0%, rgba(38,38,38,1) 69%);

    flex: 0 1 auto;
    width: 100%;
    height: 70px;
    /* background: #262626;     */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    font-size: 29px;
    letter-spacing: 8px;
    font-weight: 700;
    padding: 20px 0;
    color: #cfb481;
    font-family: emoji;
}

.header-img-left {
    position: relative;
    right: 120px;
    bottom: 8px;
}

.header-img-right {
    position: relative;
}

.header-img-left > img {
    width: 80px;
    height: 80px;
}
.header-img-right > img {
    width: 150px;
    height: 100px;
}

.header-img-right {
    position: relative;
    bottom: 2px;
    left: 80px;
}


.top-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottom-header {
    font-size: 20px;
    padding-top: 14px;
}

.card-container {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
}

.side-bar {
    width: 350px;
    height: 100%;
    background: #c9c9c9;
    border-right: 1px solid #a8a8a8;
    background-position: top;
    /* background-image: url("./assets/beige-brown.jpg"); */
    background-image: url("./assets/wooden-high.webp");
    /* background-image: url("./assets/wooden-high.webp"); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-bar-btns {
    margin: 80px 0;
 } 

 .deal, .shuffle, .reset {
    outline: none;
    border-radius: 4px;
    border: none;
    width: 100px;
    height: 25px;
    cursor: pointer;

    background: #bcbcbc;
    color: #4d4d4d;
    box-shadow: 1px 2px 3px #2c2c2c;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
 }

 .deal:active, .reset:active {
    background: #8f8f8f;
 }

.main-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("./assets/marble.jpg");
    background-position: left;
}

.main-body .card-row {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-row {

    perspective: 1200px;

}

.card-box {
    /* position: relative;
    margin: 20px 4px; */

    display: flex;
    justify-content: center;
    align-items: center;


    position: relative; 
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card,
.extra-card {
    position: absolute;
    backface-visibility: hidden;

    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 230px;
    height: 225px;
    box-shadow: 0 2px 3px grey;
}

.card {
    transform: rotateY(180deg);
    cursor: pointer;
}

.extra-card {
    background: #31414b;
    color: #cfb481;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: margin 0.25s ease-out; ;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
}

.extra-card:hover {
    margin-bottom: 25px;
}

.card-info {
    padding: 20px;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
}


.btn-container {
    flex: 1;
}

.player-container {
    height: 425px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: center;
}

.player-status {
    color: #4d4d4d;
    box-shadow: 1px 2px 3px #2c2c2c;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;

    width: 150px;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c1c1c1;
    border-radius: 4px;
    margin-top: 50px;
}

.emoji {
    border-radius: 112px;
    border: 2px solid #c1c1c1;
    overflow: hidden;
    background: #c1c1c1;
}

 .emoji > img {
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    background-position: center;
 }

.emoji-player__1 {
    background:url("./assets/emoji_andy1.png");
}

.emoji-player__2 {
    background:url("./assets/emoji_connie.png");
}